@page "/"

@using Microsoft.AspNetCore.SignalR.Client

@inherits IndexBase

<PageTitle>Simple chat</PageTitle>

<header class="p-2 bg-secondary text-white text-center">
    <h3>Simple chat</h3>
    <h6>Connection Id: @connectionId</h6>
</header>

<div class="container-fluid border mt-2 mb-2">
    <div class="row" style="height:100%">
        <div class="col-sm-5">

            <div class="row mt-2">
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Member name (nick)" disabled="@isMemberLogins" @bind="memberLogin" />
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary form-control" disabled="@isMemberLogins" @onclick="MemberLogins">Login</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="bg-secondary text-white text-center">
                        <label>Members</label>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Member name (nick)" disabled="@(!isMemberLogins)" @bind="newMember" />
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary form-control" disabled="@(!isMemberLogins)" @onclick="AddNewMember">New member</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <select class="form-select" disabled="@(!isMemberLogins)" @onchange="SelectMemberReceiver">
                        @foreach (var member in members)
                        {
                            <option value="@(member.Id)">@member.NickName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="bg-secondary text-white text-center">
                        <label>Talks</label>
                    </div>
                </div>
            </div>

            <div class="row mt-2 mb-2">
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Talk name" disabled="@(!isMemberLogins)" @bind="newTalk" />
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary form-control" disabled="@(!isMemberLogins)" @onclick="AddNewTalk">New talk</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <select class="form-select" disabled="@(!isMemberLogins)" @onchange="SelectTalkReceiver">
                        @foreach (var talk in talks)
                        {
                            <option value="@(talk.Id)">@talk.Name</option>
                        }
                    </select>
                    <label class="mt-2">Talk's members:</label>
                    <select id="groupUserList" class="form-select" size="8" disabled="@(!isMemberLogins)">
                        @foreach (var talkMember in talkMembers)
                        {
                            <option value="@(talkMember.Id)">@talkMember.NickName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="row mt-2">
                <div class="col-sm-10">
                    <input type="text" class="form-control mb-2" placeholder="Message" disabled="@(!isMemberLogins)" @bind="messageInput" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary form-control" disabled="@(!isMemberLogins)" @onclick="Send">Send</button>
                </div>
            </div>
            <div class="container mt-2" style="height:500px;overflow-y:scroll">
                <ul id="messagesList" class="mt-2" style="list-style:none;margin:auto;padding:0">
                    @foreach (var message in messages)
                    {
                        <li id="@(message.id)" @onclick="@(() => Edit(message.id))" @onmousemove="@(() => ButtonVisible())" @onmouseout="@(() => ButtonHide())">
                            @message.message
                            <button class="btn btn-sm @bVisible">
                                Delete
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="p-2 bg-secondary text-white text-center">
    <h3>Simple chat</h3>
    <div class="form-group mt-2">
        <label>
            To user:
            <input @bind="toUserInput" />
        </label>
    </div>
</footer>